@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial Rounded MT', Arial, Helvetica, sans-serif;
  background: #ffffff;
  line-height: 1.5;
}

h2{
  line-height: 1.5;
}

.tutorialBody {
  max-width: 1164px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
  font-family: Raleway, 'Arial Rounded MT', Arial, Helvetica, sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

.aboutBody {
  max-width: 1164px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
  font-family: Raleway, 'Arial Rounded MT', Arial, Helvetica, sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

.aboutBody a{
  margin-left: -197px;
}

#loginContainer{
 background-image: url("../assets/Project-Images/HouseSlide3.jpg");
 min-height: 600px;
}

.stepContainer{
  background-color: #e6e6e6;
}

.searchBody {
  max-width: 1164px;
  text-align: center;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: Raleway, 'Arial Rounded MT', Arial, Helvetica, sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

.loginBody{
  z-index: 100;
  width: 500px;
  height: 440px;
  text-align: center;
  margin: 0px auto;
  margin-top: -500px;
  margin-bottom: 200px;
  font-family: Raleway, 'Arial Rounded MT', Arial, Helvetica, sans-serif;
  background-color: #fff;
  line-height: 1.5;
  opacity: 0.9;
  border-radius: 5%;
}

.rentalBody{
  max-width: 1164px;
  text-align: center;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: Raleway, 'Arial Rounded MT', Arial, Helvetica, sans-serif;
  background-color: #fff;
  line-height: 1.5;

}

.mySlides img {
	background-color: black;
    margin: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.slideshow-container img{
  margin: 0;
}

.slideshow-container{
  background-color: black;
  height: 750px;
}

/* Slideshow container */


/* The dots/bullets/indicators */
.dot {
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 3s ease;
}

.active {
  background-color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


a {
  color: #33065e;
  text-decoration: none;
  margin: 10px;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.button {
  padding: 10px 30px 10px;
  text-decoration: none;
  color: #fff;
  background: #33065e;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.95;
  display: inline-block;
}

#propertiesDiv{
  padding-bottom: 20px;
}

#showNew {
  font-family: raleway, Arial, Helvetica, sans-serif;
  padding: 8px 20px 8px;
  text-decoration: none;
  color: #fff;
  background: #33065e;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.95;
  display: inline-block;
}

.slideshow-container .button{
  margin-left: 43.5%;
  margin-top: -90px;
  float: left;
  z-index: 1;
  margin-bottom: 0;
}

.detail.price{
  font-size: 25px;
}

.property.detailed img{
  width: 500px;
  height: 500px;
}

.container {
  min-height: 590px;
  background: #e6e6e6;
  margin: 0 auto;
  padding: 0;
  background-image: url("../assets/images/grey.jpg");
}

.menu {
  height: 90px;
  width: 100%;
  background-color: #000000;
  padding: 0;
}

.menu img {
    margin-left: 70px;
    height: 80px;
    width: 80px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    padding: 0 25px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.menu a:hover{
    color: #33065e;
    opacity: 1;
}

.menu .links {
    padding: 0 21px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

.properties label span {
  font-size: 140%;
  margin: 50px auto 20px;
  display: block;
  text-align: center;
  font-style: italic;
}

.properties input {
  padding: 10px;
  font-size: 16px;
  width: 400px;
  margin: 10px auto 40px;
  background-color: #f9f9f9;
  border: solid #33065e;
}

#success{
  visibility: hidden;
}

#fail{
  visibility: hidden;
}

.menu .results {
  display: none;
  position: absolute;
  width: 215px;
  top: 54px;
  left: 10px;
  background-color: #e6e6e6;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.results {
  margin-top: -10px;
}

.results li {
  list-style: none;
  padding: 10px 15px;
}

nav .tutorial-menu{
  display: inline-block;
  text-decoration: none;
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

 .login{
   margin-top: -15px;
  padding-left: 10px;
  line-height: 1.5;
}

.title label{
  font-size: 30px;
  font-family: Raleway, 'Arial Rounded MT', Arial, Helvetica, sans-serif;

}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	color: rgb(22, 21, 21);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1.3px solid rgb(85, 85, 85);
	border-radius: 2px;
	color: rgb(26, 24, 24);
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	background: #fff;
	border: 1.3px solid rgb(85, 85, 85);
	cursor: pointer;
	border-radius: 2px;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
  padding: 6px;
  margin-left: 0%;
	margin-top: 10px;
}

.login input[type=button]:hover{
    opacity: 0.8;
    border: 1.9px solid rgba(245, 162, 39, 0.9);
    background-color:rgba(245, 162, 39, 0.9);
}

.login input[type=button]:active{
    opacity: 0.6;
    background-color:rgba(245, 162, 39, 0.9);
    border: 1.9px solid rgba(245, 162, 39, 0.9);
}

.login input[type=text]:focus{
	outline: none;
	border: 1.9px solid rgba(245, 162, 39, 0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1.9px solid rgba(245, 162, 39, 0.9);
}

.login input[type=button]:focus{
	outline: none;
}

.body {
  padding: 15px;
  line-height: 1.5;

}

#linkToHost{
  visibility: hidden;
}

#hostContainer {
  color: rgb(32, 32, 32);
  font-family: Raleway;
  background-image: url("https://i.pinimg.com/originals/4f/34/7a/4f347ad2ca2832b6d43a125f39d80b4c.jpg");
  background-size: 1950px 1250px;
  background-repeat: no-repeat;
}

#hostAStay {
  text-align: center;
  padding: 15px;
}
#labelHost {
  padding-bottom: 50px;
}
#title, #owner, #city, #state, #country, #kitchen, #property,
#image, #bedrooms, #bathrooms, #wifi, #price,#description  {
  margin: 5.5px 0;
  outline: none;
  border: none;
  position: inherit;
  padding: 8px 35px;
}
#leftRight {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
#rightSide, #leftSide {
  width: 15%;
  min-width: 15%;
  margin-left: 30px;
  margin-right: 30px;
}
#hostButton {
  outline: none;
  border: none;
  margin: 18px 0;
  padding: 20px 40px;
  background: #FFD152;
  font-family: Raleway;
  color: #282627;
  letter-spacing: 1.2px;
  font-weight: 800;
  cursor: pointer;
  position: inherit;
}

#hostButton:hover {
  background-color: rgb(236, 191, 65);
}

.section-hero {
  width: 100%;
  height: 600px;
  margin: 0;
  padding-top: 22%;
  overflow-y: hidden;
  line-height: 1.5;

}

.section-hero h2 {
   color: #ff9393;
}

  #h3-color {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(45, 163, 143);
 }  

#tutorial-steps h2{
  padding-top: 35px;
  padding-bottom: 35px;
}

#step-one{
  border-top: solid lightgrey;
  text-align: center;
  padding-top: 60px;
  margin-top: 60px;
}

#step-two
{
  border-top: solid lightgrey;
  text-align: center;
  padding-top: 60px;
  margin-top: 60px;
}

#step-three
{
  border-top: solid lightgrey;
  text-align: center;
  padding-top: 60px;
  margin-top: 60px;
}

#step-four
{
  border-top: solid lightgrey;
  text-align: center;
  padding-top: 60px;
  margin-top: 60px;
}

#step-five
{
  border-top: solid lightgrey;
  text-align: center;
  padding-top: 60px;
  margin-top: 60px;
}

#cmd-pics {
  height: 435px;
  width: 650px;
}

#cmd-pic4 {
  height:210px;
  width: 300px;
}

i {
  font-size: 42px;
  letter-spacing: 14px;
}

#welcome-pic {
  height: 670px;
  width: 925px;
}

#ember-test-server{
  width: 925px;
}

.info {
  padding-left: 25px;
  padding-right: 25px;
  background: #e6e6e6;
  text-align: center;
}

.info h2 {
  text-align: center;
  font-size: 3.0em;
  margin-top: -25px;
}

.info p {
  margin-bottom: 25px;
}

.info img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

.share-twitter{
  margin-top: 30px;
  margin-left: 530px;
  display: inline-block;
}

.share-fb{
  display: inline-block;
  width: 50px;
  height: 50px;
}

.share-twitter a{
  margin-left: -200px;
  background: transparent;
  
}

.share-twitter img{
  width: 50px;
  height: 50px;
}

.share-fb a{
  width: 50px;
  height: 50px;
  background: transparent;
}

.share-fb img{
  width: 50px;
  height: 50px;
}

.rental {
  margin-top: 15px;
  background-color: #e6e6e6;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.7;
  border-radius: 0.5%;
}

.rental:hover {
  background-color: #f3f3f3;
}

.rental .photo {
  border-radius: 5px;
}

.rental .photo {
  width: 300px;
  height: 300px;
  text-align: center;
  margin-top: 80px;
  padding-bottom: 50px;
}

.photo {
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 1;
}

.rental .photo img{
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.rental .detailed img{
  width: 500px;
  height: 500px;
  border-radius: 5px;
}

.share-twitter{
  height: 40px;
}

.rental .details {
  text-align: center;
  flex-basis: 30%;
  flex-grow: 2;
  display: flex;
  height: 160px;
  margin: 0px 70px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.details p{
  margin-top: 5px;
  text-align: center;
  margin-left: 310px;
  font-size: 1.5em;
}

.details span{
  font-weight: bold;
  line-height: 2;
}

.detail-description{
  margin-right: 70px;
}

.rental h3 {
  flex-basis: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 2.5;
  margin-left: 10px;
}

.rental h3 a {
  display: inline;
  font-weight: bold;
  line-height: 1.5;

}

.rental .detail {
  flex-basis: 43%;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
}

.rental.detailed p{
  margin-left: 30%;
}

.rental .detail span {
  font-weight: bold;
  font-style: normal;
  margin-left: 25px;
  margin-top: 20px;
}

.rental .map {
  flex-grow: 0;
  flex-basis: 40px;
  font-size: 0;
  margin: 0px 25px;
  margin-top: 50px;
}

.rental .map img {
  width: 1100px;
  height: 1100px;
  margin-left: -5%;
  border-radius: 10px;
  margin-bottom: 30px;
}

.rental.detailed {
  background: none;
  align-items: flex-start;
}



.rental.detailed .details {
  height: 100%;
}

.rental.detailed h3 {
  font-size: 200%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.rental.detailed p  {
  font-size: 140%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 85px;
  padding-left: 0px;
  padding-right: 25px;
  text-align: center;
}

.rental.detailed .detail {
  margin: 5px 0px;
  flex-basis: 100%;
  flex-shrink: 2;
  text-align: center;
}

/*Property*/
.property {
  margin-top: 15px;
  background-color: #e6e6e6;
  padding: 0px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.5;

}

#propertyTitle{
  padding-top: 20px;
  padding-left: 1%;
  color: #33065e;
}

.property:hover {
  background-color: #f3f3f3;
}

.property img {
  border-radius: 5px;
  height: 200px;
  width: 210px;
}

.property .image {
  flex-grow: 0;
  height: 220px;
  width: 210px;
  text-align: center;
  margin-top: 80px;
  padding-bottom: 50px;
}

.property button.image {
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 1;
}

.property .image.large img {
  max-width: 100%;
  width: 500px;
  height: 400px;
}

.property .image.large {
  margin: 30px 25px 50px 25px;
  flex-basis: 100%;
}

.property .image small {
  display: block;
  margin-top: -10px;
  margin-bottom: 0px;
  padding-left: 35px;
  text-align: center;
  color: #33065e;
}

.property .image.large small {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 150%;
}

.property .details {
  text-align: left;
  flex-basis: 38%;
  flex-grow: 2;
  display: flex;
  height: 160px;
  margin: 0px 60px;
  margin-top: -40px;;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.property h3 {
  flex-basis: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  margin-left: -405px;
}

.property h3 a {
  display: inline;
  font-weight: bold;
  line-height: 1.5;

}

.property .detail {
  flex-basis: 50%;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
}

.property.detailed p{
  margin-left: 50%;
}

.property .detail.price{
  margin-left: 180px;
}

.property .detail span {
  font-weight: bold;
  font-style: normal;
  margin-left: 25px;
  margin-top: 30px;
}

.property .map {
  flex-grow: 0;
  flex-basis: 30px;
  font-size: 0;
  margin: 0px 30px;
  margin-top: 50px;
}

.property .map img {
  width: 180px;
  height: 180px;
}

.property.detailed {
  align-items: flex-start;
}

.property.detailed .image {
  flex-basis: 320px;
  width: 500px;
  height: 500px;
}

.property.detailed .image.large {
  margin: 30px 25px 50px 25px;
  flex-basis: 100%;
}

.property.detailed .details {
  height: auto;
}

.property.detailed h3 {
  font-size: 200%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.property.detailed p  {
  font-size: 140%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.property.detailed .detail {
  margin: 5px 0px;
  flex-basis: 100%;
  flex-shrink: 2;
  text-align: center;
}

.property.detailed .map {
  width: 500px;
  height: 500px;
  margin: 50px 25px 25px 25px;
}

.property.detailed .map img {
  width: 500px;
  height: 500px;
}

/*End Property*/


.Clear{
    clear: both;
}

.aboutlp {
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  float: right;
}

.screen-reader{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.footer {
  background-color: black;
  color:white;
  width: 100%;
  height: 80px;
  margin: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0;
  line-height: 1.5;

}

.footer p{
  margin: 0;
  padding: 0;
}