<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <img src="/assets/LexParkLogo.png" alt="lexpark"/>
    </LinkTo>
    <div class="links">
        <LinkTo @route="search" class="menu-search">
            Search
        </LinkTo>
        <LinkTo @route="login" class="menu-host">
            Host A Stay
        </LinkTo>
        <LinkTo @route="login" class="menu-login">
            Log In
        </LinkTo>
        <LinkTo @route="about" class="menu-about">
            About Us
        </LinkTo>
        <LinkTo @route="tutorial" class="menu-tutorial">
            Tutorial
        </LinkTo>
        <div class="Clear"></div>
    </div>
</nav>