<Info>
    <div class="container">
        <div class="aboutBody">
            <br>
            <br>
            <br>
            <h2>About LexPark Inc.</h2>
            <p>
                Here at LexPark, we pride ourselves in helping you find the perfect place to stay anywhere around the world! We work with hosts and renters
                to ensure that both parties are treated fairly and are satisfied with their stays. Renters will have the choice to stay in Appartments, Houses,
                and single rooms. Hosts may log in, add their location's information into the site and post it so potential renters can choose to stay there. 
                Renters will be able to view the property, find an image of it and see the location on a map. 
            </p>
            <br><br><br>
            <div class="aboutlp"><img src="assets/lexparklogo.png" alt="lexpark" id="aboutlp"></div>
            <h2>Contact Us!</h2>
            <p>Do you have any questions or concerns about booking a stay with LexPark? Contact us our representitives and we will get back to you with an answer
                to any questions you may have!
            </p>
            <address>
                LexPark Inc. HQ
                <p>
                    1801 N Broad St<br>
                    Philadelphia, PA 19122
                </p>
                <a href="tel: 484.716.1883">+1 (484) 716-1883</a><br>
                <a href="mailto:tuj78444@temple.edu">tuj78444@temple.edu</a>
            </address>
            <br>
            <br>
        </div>
    </div>
</Info>