 <div class="header">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="../assets/Project-Images/HouseSlide4.jpg" alt="slide4">
            </div>
            <LinkTo @route="search" class="button">Find A Rental!</LinkTo>
            <div class="Clear"></div>
            <br>
        </div>
    </div>